---
import { Image } from "astro:assets"
import TwitterIcon from "./icons/TwitterIcon.astro"
import logoWhite from "@assets/logo-white.png"
import InstagramIcon from "./icons/InstagramIcon.astro"
import LinkedInIcon from "./icons/LinkedInIcon.astro"
import YoutubeIcon from "./icons/YoutubeIcon.astro"
import FacebookIcon from "./icons/FacebookIcon.astro"

const { navLinks } = Astro.props

const socialIcons = [
    {
        alt: "Twitter (x) social",
        Icon: TwitterIcon,
        link: "#",
    },
    {
        alt: "Instagram social",
        Icon: InstagramIcon,
        link: "#",
    },
    {
        alt: "LinkedIn Social",
        Icon: LinkedInIcon,
        link: "#",
    },
    {
        alt: "Youtube social",
        Icon: YoutubeIcon,
        link: "#",
    },
    {
        alt: "Facebook social",
        Icon: FacebookIcon,
        link: "#",
    },
]
---

<section id="footer">
    <div class="py-14 border-y-[1px] border-y-[#1A1C28] text-center">
        <a
            href="mailto:info@erakcode.com"
            class="text-[25px] min-[350px]:text-[28px] xs:text-[32px] sm:text-[50px] md:text-[54px] lg:text-[74px] xl:text-[84px] 2xl:text-[94px] text-white font-neuropolitcal"
            >info@erakcode.com</a
        >
    </div>
    <div class="flex max-md:flex-col justify-center">
        <div class="md:w-[40%] 2xl:w-[45%] pl-4 lg:pl-8">
            <div
                class="flex pt-8 md:pt-16 flex-col md:mb-16 md:max-w-[445px] pr-4 lg:pr-8 xl:pr-20 md:ml-auto"
            >
                <Image src={logoWhite} alt={"logo"} class="max-sm:max-w-[250px] max-w-[290px] h-auto" />
                <p class="text-base text-[#747785] mt-7 mb-5 md:mb-11">
                    Your one-stop agency for creative solutions, cutting-edge
                    apps, and impactful branding.
                </p>
                <p class="text-white text-base max-md:hidden">
                    © {new Date().getFullYear().toString()} ErakCode™. All rights
                    reserved.
                </p>
            </div>
        </div>
        <div class="md:w-[60%] md:border-l md:border-l-[#1A1C28] flex flex-col">
            <div
                class="basis-1/2 border-b border-b-[#1A1C28] pr-4 max-md:pt-5 max-md:pb-8"
            >
                <ul
                    class="flex max-md:flex-col max-md:items-start max-md:gap-y-6 gap-x-2.5 xs:gap-x-5 sm:gap-x-9 items-center h-full pl-4 lg:pl-8 xl:pl-16"
                >
                    {
                        navLinks.map((link: any) => (
                            <li>
                                <a
                                    href={link.path}
                                    class="text-[#747785] text-base"
                                    aria-label={link.alt}
                                >
                                    {link.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="basis-1/2 pr-4 max-md:py-10">
                <ul
                    class="flex gap-x-4 sm:gap-x-6 h-full items-center pl-4 lg:pl-8 xl:pl-16"
                >
                    {
                        socialIcons.map((icon: any) => (
                            <a href={icon.link} class="text-white">
                                <li class="w-[40px] h-[40px] flex items-center justify-center xs:w-[60px] xs:h-[60px] bg-transparent border hover:bg-primary hover:border-primary transition duration-300 border-[#1A1C28] rounded-full">
                                    <icon.Icon />
                                </li>
                            </a>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
    <p class="text-white text-base mb-5 px-4 md:hidden">
        © {new Date().getFullYear().toString()} ErakCode™. All rights reserved.
    </p>
</section>
