---
import ArrowLeft from "@components/icons/ArrowLeft.astro"
import ArrowRight from "@components/icons/ArrowRight.astro"
import { Image } from "astro:assets"
import dinVentures from "@assets/portfolio/din-ventures.png"
import innerBalanceWatch from "@assets/portfolio/inner-balance-watch.png"
import stayUpHighway from "@assets/portfolio/stay-up-highway.png"
import dometrain from "@assets/portfolio/dometrain.png"
import j from "@assets/portfolio/j.png"
import pixel from "@assets/portfolio/pixel.png"
import dinVenturesMobile from "@assets/portfolio/din-ventures-mobile.png"
import innerBalanceWatchMobile from "@assets/portfolio/inner-balance-watch-mobile.png"
import stayUpHighwayMobile from "@assets/portfolio/stay-up-highway-mobile.png"
import dometrainMobile from "@assets/portfolio/dometrain-mobile.png"
import jMobile from "@assets/portfolio/j-mobile.png"
import pixelMobile from "@assets/portfolio/pixel-mobile.png"

const PORTFOLIO = [
    {
        title: "Logo design",
        subtitle: "Din Ventures",
        img: dinVentures,
        mobileImg: dinVenturesMobile,
        mobileUrl: "src/assets/portfolio/din-ventures-mobile.png",
    },
    {
        title: "Web design",
        subtitle: "STAYUPHIGHWAY",
        img: stayUpHighway,
        mobileImg: stayUpHighwayMobile,
        mobileUrl: "src/assets/portfolio/stay-up-highway-mobile.png",
    },
    {
        title: "Web design",
        subtitle: "Inner Balance Watch",
        img: innerBalanceWatch,
        mobileImg: innerBalanceWatchMobile,
        mobileUrl: "src/assets/portfolio/inner-balance-watch-mobile.png",
    },
    {
        title: "Web design",
        subtitle: "Dometrain courses",
        img: dometrain,
        mobileImg: dometrainMobile,
        mobileUrl: "src/assets/portfolio/dometrain-mobile.png",
    },
    {
        title: "Web design",
        subtitle: "Pixel Photography",
        img: pixel,
        mobileImg: pixelMobile,
        mobileUrl: "src/assets/portfolio/pixel-mobile.png",
    },
    {
        title: "Mobile App",
        subtitle: "Jedox",
        img: j,
        mobileImg: jMobile,
        mobileUrl: "src/assets/portfolio/j-mobile.png",
    },
]
---

<section id="portfolio" class="mt-[132px]">
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="bg-[#D0D2DE] lg:my-8 xl:my-10 2xl:my-[54px] flex">
            <div
                class="max-w-[553px] py-10 sm:py-[60px] md:py-[80px] lg:py-[100px] flex flex-col my-auto w-full pl-4 ml-auto"
            >
                <h2
                    class="text-[#000102] font-neuropolitcal text-5xl sm:text-6xl md:text-7xl lg:text-[84px] leading-[48px] sm:leading-[60px] md:leading-[72px] lg:leading-[84px]"
                >
                    Portfolio
                </h2>
                <div
                    class="mt-4 sm:mt-7 md:mt-8 lg:mt-[38px] bg-[#000102] pt-10 lg:pt-[70px] pl-10 lg:pl-[70px] pb-10 lg:pb-[50px] rounded-tl-[40px] rounded-bl-[40px]"
                >
                    <div class="mb-[73px]">
                        <h3
                            id="portfolio-title-txt"
                            class="text-white font-neuropolitcal whitespace-nowrap text-[32px] transition-all duration-300 ease-in-out"
                        >
                            {PORTFOLIO[0].title}
                        </h3>
                        <h4
                            id="portfolio-subtitle-txt"
                            class="text-white text-base transition-all duration-300 ease-in-out"
                        >
                            {PORTFOLIO[0].subtitle}
                        </h4>
                    </div>
                    <div class="flex gap-x-4 max-md:hidden">
                        <div
                            id="prev-portfolio-btn"
                            role="button"
                            aria-label="Previous Portfolio"
                            class="text-white hover:text-black hover:bg-white transition bg-transparent border border-white rounded-full p-5"
                        >
                            <ArrowLeft />
                        </div>
                        <div
                            id="next-portfolio-btn"
                            role="button"
                            aria-label="Next Portfolio"
                            class="text-white hover:text-black hover:bg-white transition bg-transparent border border-white rounded-full p-5"
                        >
                            <ArrowRight />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {
                PORTFOLIO.map((p, index) => (
                    <Image
                        src={p.img}
                        data-carousel-item
                        alt={`portfolio ${index + 1}`}
                        loading={"eager"}
                        format="png"
                        class={`${index !== 0 ? "hidden opacity-0" : "block"} max-md:hidden object-cover w-full h-full object-left transition-all duration-300 ease-in-out`}
                    />
                ))
            }
        </div>
        <div class="bg-[#D0D2DE] pr-10">
            {
                PORTFOLIO.map((p, index) => (
                    <img
                        src={index === 0 ? p.mobileUrl : undefined}
                        data-src={p.mobileUrl}
                        data-mobile-carousel-item
                        alt={`portfolio ${index + 1}`}
                        class={`${index !== 0 ? "hidden opacity-0" : "block"} -mt-[120px] rounded-r-3xl min-w-[372px] min-h-[448px] md:hidden object-cover w-full h-full object-bottom transition-all duration-300 ease-in-out`}
                    />
                    // <Image
                    //     src={p.mobileImg}
                    //     data-mobile-carousel-item
                    //     alt={`portfolio ${index + 1}`}
                    //     loading={index === 0 ? "eager" : "lazy"}
                    //     format="png"
                    //     class={`${index !== 0 ? "hidden opacity-0" : "block"} -mt-[120px] rounded-r-3xl min-w-[372px] min-h-[448px] md:hidden object-cover w-full h-full object-bottom transition-all duration-300 ease-in-out`}
                    // />
                ))
            }
            <div class="flex gap-x-4 md:hidden justify-end mt-[18px] mb-2">
                <div
                    id="prev-portfolio-btn-mobile"
                    role="button"
                    aria-label="Previous Portfolio"
                    class="text-black hover:text-white hover:bg-black transition bg-transparent border border-black rounded-full p-5"
                >
                    <ArrowLeft />
                </div>
                <div
                    id="next-portfolio-btn-mobile"
                    role="button"
                    aria-label="Next Portfolio"
                    class="text-black hover:text-white hover:bg-black transition bg-transparent border border-black rounded-full p-5"
                >
                    <ArrowRight />
                </div>
            </div>
        </div>
    </div>
</section>

<script is:inline define:vars={{ PORTFOLIO }}>
    document.addEventListener("DOMContentLoaded", function () {
        const mobileCarouselImages = document.querySelectorAll(
            "[data-mobile-carousel-item]"
        )

        mobileCarouselImages.forEach((img, index) => {
            if (index === 0) return

            img.src = img.dataset.src
        })
    })
    let currentIndex = 0

    const carouselItems = document.querySelectorAll("[data-carousel-item]")
    const carouselItemsMobile = document.querySelectorAll(
        "[data-mobile-carousel-item]"
    )
    const titleTxt = document.getElementById("portfolio-title-txt")
    const subtitleTxt = document.getElementById("portfolio-subtitle-txt")
    const nextButton = document.getElementById("next-portfolio-btn")
    const nextButtonMobile = document.getElementById(
        "next-portfolio-btn-mobile"
    )
    const prevButton = document.getElementById("prev-portfolio-btn")
    const prevButtonMobile = document.getElementById(
        "prev-portfolio-btn-mobile"
    )

    function updateContent(newIndex) {
        carouselItems[currentIndex].classList.add("opacity-0")
        carouselItemsMobile[currentIndex].classList.add("opacity-0")

        titleTxt.classList.add("opacity-0")
        subtitleTxt.classList.add("opacity-0")

        setTimeout(() => {
            carouselItems[currentIndex].classList.remove("block")
            carouselItems[currentIndex].classList.add("hidden")
            carouselItemsMobile[currentIndex].classList.remove("block")
            carouselItemsMobile[currentIndex].classList.add("hidden")

            currentIndex = newIndex

            carouselItems[currentIndex].classList.remove("hidden")
            carouselItems[currentIndex].classList.add("block")
            carouselItemsMobile[currentIndex].classList.remove("hidden")
            carouselItemsMobile[currentIndex].classList.add("block")

            titleTxt.textContent = PORTFOLIO[currentIndex].title
            subtitleTxt.textContent = PORTFOLIO[currentIndex].subtitle

            setTimeout(() => {
                carouselItems[currentIndex].classList.remove("opacity-0")
                carouselItemsMobile[currentIndex].classList.remove("opacity-0")
                titleTxt.classList.remove("opacity-0")
                subtitleTxt.classList.remove("opacity-0")
            }, 50)
        }, 300)
    }

    nextButton.addEventListener("click", () => {
        const newIndex = (currentIndex + 1) % PORTFOLIO.length
        updateContent(newIndex)
    })

    prevButton.addEventListener("click", () => {
        const newIndex =
            (currentIndex - 1 + PORTFOLIO.length) % PORTFOLIO.length
        updateContent(newIndex)
    })

    nextButtonMobile.addEventListener("click", () => {
        const newIndex = (currentIndex + 1) % PORTFOLIO.length
        updateContent(newIndex)
    })

    prevButtonMobile.addEventListener("click", () => {
        const newIndex =
            (currentIndex - 1 + PORTFOLIO.length) % PORTFOLIO.length
        updateContent(newIndex)
    })
</script>
